# DATABASE CONNECTION
DATABASE_URL=mysql+pymysql://user:pass@localhost:port/rpa_challenge

# API KEY FOR RPACHALLENGE
RPA_CHALLENGE_API_KEY=014c5ff2b83dc17257629894b0fef1fb

# TEMP DIR
TEMP_DIR=temp

# RESULT DIR
OUTPUT_DIR=output

# LOGS DIR
LOG_DIR=logs